alembic==1.14.1  # Mantén la versión que ya tienes si te funciona bien.
fastapi  # Permite cualquier versión 1.x.x o superior
pg8000==1.31.2
SQLAlchemy>=2.0    # Permite cualquier versión 2.x o superior
gunicorn>=23   # Versión mas reciente (o la última estable).
uvicorn[standard]>=0.27  # Uvicorn con dependencias recomendadas.  Usa una versión reciente.
python-dotenv==1.0.1 # Solo si lo usas para desarrollo local
pydantic>=2.0, <3.0 # Pydantic en su ultima versión estable